.head-look h4 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 77px;
}

.head-look h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}

.head-look {
    background-image: url('./resources/Banner\ Image.png');
    padding: 140px;
    background-repeat: no-repeat;
    background-position: center;


}

.first-div {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.secound-div {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.third-div {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.new-year-photo {
    width: 802.9px;
    height: 500px;
    display: block;  
    margin-left: auto;  
    margin-right: auto;  
    padding: 5px;  
}